<%- include('./partials/header') %>

<form method="POST" action="/members/add">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required>
  
  <label for="role">Role:</label>
  <input type="text" id="role" name="role" required>
  
  <button type="submit">Ajouter un membre</button>
</form>


<form method="POST" action="/admin/add">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required>
  
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" required>

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>

  <label for="lastName">LastName:</label>
  <input type="text" id="lastName" name="LastName" required>
  
  <button type="submit">Ajouter un administrateur</button>
</form>

<%for (const member of members){%>
<form action="/delete-member/<%=member._id%>" method="POST">
  <div class="admin-members-delete-container">
    <label for="member"><%=member.name%> <%=member.lastName%>:</label>
  <button type="submit" name="_id" value="<%=member._id%>">Supprimer le membre</button>
  </div>
</form>
  <%}%>

  <%for (const admin of admins){%>
    <form action="/delete-admin/<%=admin._id%>" method="POST">
      <div class="admin-members-delete-container">
        <label for="admin"><%=admin.email%>:</label>
      <button type="submit" name="_id" value="<%=admin._id%>">Supprimer l'admin</button>
      </div>
    </form>
      <%}%>


  </body>
</html>
