<%- include('./partials/header') %>

    <main>
      <div class="main-div">
        <div class="next-competition">
          <div class="next-competition-div">
            <h2 class="next-competition-title">Prochaine Compétition</h2>
            <span class="next-competition-date">le 17/02/2023</span>
            <span class="next-competition-hour">à 20h</span>
            <a href="/schedule" ><button class="next-competition-button">Voir le calendrier</button></a>
          </div>
        </div>
        <div class="main-div-image">
          <img src="./img/test.jpg" alt="test" />
        </div>
      </div>
      <div class="second-div">
        <div class="second-div-title">
          <h2>Nos membres</h2>
        </div>
        <div class="second-div-members">
          <%for (const member of members){%>
          <div class="second-div-member-card">
          <img class="second-div-member-card-img" src="./img/test.jpg" alt="" />
          <h3 class="second-div-member-card-name"><%=member.name%> <%=member.lastName%></h3>
          <h4 class="second-div-member-card-role"><%=member.role%></h4>
          </div>
          <%}%>
        </div>
      </div>
      <div class="third-div">
          <div class="third-div-description">
            <div class="third-div-description-text">
                <h2>Profitez d'une equipe conviviale et passionnée</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nobis, praesentium amet at dignissimos veritatis commodi.</p>
            </div>
            <div class="third-div-description-button">
              <a href="/#"><button class="next-competition-button">Adhérer au Club</button></a>
            </div>
          </div>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
